<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<script type="text/javascript" src="public/bootstrap/js/bootstrap.min.js"></script>
<link href="public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="public/customCss/main.css" rel="stylesheet">
<script src="./public/js/messenger.js" defer></script>
<title>{{ tab }}</title>