{% if message is not null %}
    <div class="messenger alert alert-warning">
        <button class="closeMessenger btn btn-sm btn-outline-warning" type="button">X</button>
        <p>{{ message }}</p>
    </div>
{% endif %}