<Files "makepage.php">
  Order Allow,Deny
  Deny from all
</Files>

<Files "viewlog.php">
  Order Allow,Deny
  Deny from all
</Files>

<Files "database.sql">
  Order Allow,Deny
  Deny from all
</Files>