{% extends 'base.twig' %}
{% block header %}
    {{ parent() }}
    <h1>{{ header }}</h1>
{% endblock %}
{% block content %}
    <p>Content</p>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}