<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Mail</title>
    <style>
        h1 {
            background-color: #0a53be;
            color: whitesmoke;
            padding: .5em;
            margin: 0;
            border: 1px solid #0a53be;
        }
        .mail-body {
            padding: 1em;
            background-color: #f8f8fa;
            margin-top: 0;
            border: 1px solid #0a53be;
        }
    </style>
</head>
<body>
<h1>%s</h1>
<div class="mail-body">
    <p>Hallo %s,</p>
    <p>%s</p>
    <p>mvg</p>
    <p>mvc-template</p>
</div>
</body>
</html>